<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Purchasing <%= game.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="purchase-body">
        <h1 class="purchase-header"><%= game.name %></h1>
        <form class="purchase-form">
            <h3 class="form-title">Credit Card Info</h3>
                <label>Card Holder Full Name:</label>
                <input type="text">
                <label>Credit Card Number:</label>
                <input type="text">
                <label>Expiration Date:</label>
                <input type="text">
                <label>CVV:</label>
                <input type="text">
                <label>Zip Code</label>
                <input type="text">

            <h3 class="form-title">Mailing Info</h3>
                <label>Address Line 1:</label>
                <input type="text">
                <label>Address Line 2(Optional):</label>
                <input type="text">
                <label>State:</label>
                <input type="text">
                <label>Zip Code</label>
                <input type="text">
    
            <p class="total">Total: $<%= game.price %></p>
        </form>
        <form class="purchase-submit" action="/shop/<%= user._id %>/<%= game._id %>?_method=PUT" method="POST">
            <button type="submit">Purchase</button>
        </form>
    </div>
</body>
</html>